body {
  background: #333; }

.navs {
  background-color: #212529;
  opacity: 0.7;
  border-bottom: 3px solid #008ed6; }

.nav-link {
  padding: 5px 10px !important; }

.nav-link.active {
  color: green; }

.navbar-toggler .navbar-toggler-icon, .navbar-toggler .navbar-toggler-icon::after, .navbar-toggler .navbar-toggler-icon::before {
  background-color: white !important; }

  .navbar-toggler:focus{
    border: 0px!important;
    box-shadow: none!important;
    outline: 0!important;
  }

#icon-check .fa-check {
  font-size: 30px;
  background-color: aliceblue;
  color: #008ed6;
  padding: 4px;
  border-radius: 4px; }

#registration {
  background: url("../image/home-reg.jpg");
  background-position: center top;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  min-height: 600px;
  overflow: hidden; }
  #registration .dark-overlay {
    background-color: rgba(0, 0, 0, 0.4);
    min-height: 600px; }
  #registration .reg-inner {
    padding-top: 150px;
    padding-bottom: 50px; }
  #registration .card {
    background: transparent; }
  #registration .card-bg {
    position: relative;
    z-index: 1; }
  #registration .card-bg::before {
    content: '';
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(21, 107, 47, 0.5);
    border-radius: 15px;
    position: absolute;
    opacity: 0;
    z-index: -1; }
  #registration .card-bg:hover.card-bg::before {
    opacity: 0.8;
    filter: blur(5px);
    transition: 1s ease all; }

#Explores {
  overflow: hidden; }

#explore-details .fa-check, #share-details .fa-check {
  font-size: 30px;
  background-color: #333;
  color: white;
  padding: 4px;
  border-radius: 4px; }

#create-details {
  background-color: #333; }
  #create-details .fa-check {
    font-size: 30px;
    background-color: white;
    color: #008ed6;
    padding: 4px;
    border-radius: 4px; }

#m-con {
  background: transparent; }
  #m-con .modal-overlay {
    background: rgba(33, 37, 41, 0.5); }

.magic {
  transform: scale(0.5) !important;
  color: aqua !important; }

.name, .email, .text {
  background: transparent;
  border: 0px;
  border-bottom: 1px solid white;
  border-radius: 0px; }

.name:focus, .email:focus, .text:focus {
  box-shadow: none !important;
  background: transparent; }

.transition-modal {
  transition: 0.6s;
  transform: scale(1); }

.colorChange {
  color: red !important; }


@media only screen and (max-width: 1200px) {
  .font-title {
    font-size: 3rem !important; }
  .reg-text {
    font-size: 1.1rem !important; } }

@media only screen and (max-width: 992px) {
  .card-bg::before {
    opacity: 0.8 !important;
    filter: blur(5px) !important; } }

@media only screen and (max-width: 768px) {
  .font-title {
    font-size: 38px; } }

@media only screen and (max-width: 576px) {
  .card-bg::before {
    filter: none !important; } }
