$bg-color-1:#212529;
$icon-color-1:#008ed6;
$body-back:#333;
body{
  
    background: $body-back;

}


.navs{
    background-color: $bg-color-1;
    opacity: 0.7;
    border-bottom:3px solid $icon-color-1;
   
} 

.nav-link{
    padding: 5px 10px!important;
}

.nav-link.active{
    color:green;
}

.navbar-toggler .navbar-toggler-icon, .navbar-toggler .navbar-toggler-icon::after, .navbar-toggler .navbar-toggler-icon::before{
    background-color: white!important;
}


#icon-check .fa-check {
    font-size: 30px;
    background-color: aliceblue;
    color: #008ed6; 
    padding: 4px;
    border-radius: 4px;
  }

  #registration {
     background:url("../image/home-reg.jpg");
     background-position: center top;
     background-repeat: no-repeat;
     background-size: cover;
     background-attachment: fixed;
     min-height: 600px;
     overflow: hidden;

    .dark-overlay{

        background-color: rgba($color: #000000, $alpha: 0.4);
        min-height: 600px;
    }



    .reg-inner{
        padding-top: 150px;
        padding-bottom: 50px;
    }

    .card{
        background: transparent;
       
    }
    .card-bg{
       
        position: relative;
        z-index: 1;
    
       
    }
     .card-bg::before{
         content: '';
         left:0;
         right: 0;
         width: 100%;
         height: 100%;
         background-color: rgba($color: #156b2f, $alpha: 0.5);
        border-radius: 15px;
         position: absolute;
         opacity: 0;
         z-index: -1;
     }

     .card-bg:hover.card-bg::before{
         opacity: 0.8;
        filter: blur(5px);
        transition: 1s ease all;
     }
    
  }

  #Explores{
      overflow: hidden;
  }

  #explore-details,#share-details{

        .fa-check {
        font-size: 30px;
        background-color: $body-back;
        color: white; 
        padding: 4px;
        border-radius: 4px;
      }

      
      
  }

  #create-details{
      background-color: #333;

      .fa-check {
        font-size: 30px;
        background-color: white;
        color: #008ed6; 
        padding: 4px;
        border-radius: 4px;
      }
  }

  #m-con{
      background: transparent;
      .modal-overlay{
          background: rgba($bg-color-1, $alpha: 0.5);
      }
  }

  .magic{
     
    transform: scale(0.5)!important;
    color: aqua !important;
     
  }

 
  .name,.email,.text{
      background: transparent;
      border:0px;
      border-bottom: 1px solid white;
      border-radius: 0px;
  }
  .name:focus,.email:focus,.text:focus{
    box-shadow:none!important;
    background: transparent;
}



  .transition-modal{
      transition: 0.6s;
      transform: scale(1);
  }

   .colorChange{
       color: red !important;
   }

   .s2{
    position: relative;
    text-align: center;

  }
  
  
  /* Bottom left text */
  .contentinslider {
    position: absolute;
    top:60%;
    margin: auto;
    color: black;
  }

  @media only screen and (max-width: 1200px) {
   
    .font-title{
        font-size: 3rem !important;
    }
    .reg-text{
        font-size: 1.1rem !important;
    }
}

  @media only screen and (max-width: 992px) {
   
    .card-bg::before{
    
        opacity: 0.8!important;
        filter: blur(5px)!important;
    }
    
}


@media only screen and (max-width: 768px) {
   
    .font-title{
        font-size: 38px;
    }
}


@media only screen and (max-width: 576px) {
   
    .card-bg::before{
    
       
        filter: none !important;
    }
}
  

  


